<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin.layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article Management</title>
</head>
<body>

<div layout:fragment="contain">
    <!-- Start Header -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Article Management</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Starter Page</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
    <!-- End Header -->

    <!-- Start Article -->
        <div class="card">
        <div class="card-header">
            <div class="card-title">
                <button id="btn-add" type="button" class="btn btn-block bg-gradient-info" data-toggle="modal" data-target="#article-modal">
                    <i class="fas fa-plus"></i>
                </button>
            </div>

            <div class="card-tools">
                <form th:action="@{/admin/articles}" method="get">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="keyboard" class="form-control float-right" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default" >
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Thumbnail</th>
                    <th>Author</th>
                    <th>Published</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article,state : ${articles}" >
                    <td th:text="${state.count}"></td>
                    <td th:text="${article.title}">Title</td>
                    <td>
                       <img th:src="'/images/'+${article.thumbnail}"
                            alt="thumbnail" class="img-thumbnail"
                       width="50" height="50">
<!--                        th:src="${@environment.getProperty('file.client-path')}+${article.thumbnail}"-->
                    </td>
                    <td th:text="${article.author}">Author</td>
                    <td th:text="${article.date}">Date</td>
                    <td th:object="${article}">
                        <button th:data-id="*{articleID}"
                                th:data-title="*{title}"
                                th:data-description="*{description}"
                                th:data-thumbnail="*{thumbnail}"
                                th:data-published-date="*{date}"
                                th:data-category-id="*{category.getId()}"
                                th:data-author="*{author}"
                                th:data-category="*{category.name}"
                                type="submit" class="btn btn-secondary w-25 btn-view">
                            <i class="fas fa-eye"></i>
                        </button>

                        <button th:data-id="*{articleID}"
                                th:data-title="*{title}"
                                th:data-description="*{description}"
                                th:data-thumbnail="*{thumbnail}"
                                th:data-category-id="*{category.getId()}"
                                type="submit" class="btn btn-warning w-25 btnEdit" sec:authorize="hasAuthority('WRITE')">
                            <i class="far fa-edit"></i>
                        </button>
                        <button th:data-id="*{articleID}" type="submit" class="btn btn-danger w-25 btn-delete" sec:authorize="hasAuthority('ADMIN')">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!--  End Article  -->

    <div th:replace="fragments/modal :: modal-1"> </div>
    <div th:replace="fragments/modal :: modal-Confirm"></div>
    <div th:replace="fragments/modal :: modal-view-article"></div>

</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();

        });
    </script>
    <script src="/js/article.js"> </script>
</th:block>

</body>
</html>