<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin.layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List User</title>
</head>
<body>

<div layout:fragment="contain">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List of User</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>User</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Progress</th>
                    <th style="width: 40px">Label</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user,state : ${users}">
                    <td th:text="${state.count}"></td>
                    <td th:text="${user.userID}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg-danger">10%</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>

</div>

</body>
</html>