<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin.layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List User</title>
</head>
<body>

<div layout:fragment="contain">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List of User</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Progress</th>
                    <th style="width: 40px"> </th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user,state : ${users}">
                    <td th:text="${state.count}"></td>
                    <td th:text="${user.firstName} +' '+ ${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <div class="progress progress-xs mt-2">
                            <div class="progress-bar progress-bar-danger " style="width: 10%"></div>
                        </div>
                    </td>
                    <td><span class="badge bg-danger">10%</span></td>
                    <td width="165" th:object="${user}">
                        <button th:data-id="*{userID}"
                                th:data-firstName="*{firstName}"
                                th:data-lastName="*{lastName}"
                                th:data-thumbnail="*{email}"
                                type="submit" class="btn btn-secondary w-10 btn-view">
                            <i class="fas fa-eye"></i>
                        </button>
                        <a th:href="@{/admin/user/update/{userID}(userID=*{userID})}"
                                type="button" class="btn btn-warning w-10 btnEdit">
                            <i class="far fa-edit"></i>
                        </a>
                        <button th:data-id="*{userID}"
                                type="submit" class="btn btn-danger w-10 btn-delete">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <div th:replace="fragments/modal :: modal-Message(message=${message})"></div>
    <div th:replace="fragments/modal :: modal-Confirm"></div>
</div>

<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        if ([[${success}]]) {
            $('#modal-Message').modal('show')
        }
    </script>

    <script src="/js/user.js"> </script>
</th:block>

</body>
</html>